name: Sanitizer

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  ubuntu-address-undefined:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        config:
        - { name: "GCC", cc: "gcc-10", cxx: "g++-10" }
        - { name: "Clang", cc: "clang-10", cxx: "clang++-10" }

    steps:
      - uses: actions/checkout@v2

      - name: Install
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/ppa
          sudo apt update
          sudo apt install g++-10 llvm
          wget -q https://github.com/google/googletest/archive/release-1.10.0.zip
          unzip -q release-1.10.0.zip
          cd googletest-release-1.10.0
          cmake -S . -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DBUILD_GMOCK=OFF \
          -DBUILD_SHARED_LIBS=ON -Dgtest_build_tests=OFF
          cmake --build build --config RelWithDebInfo -j$(nproc)
          sudo cmake --build build --config RelWithDebInfo --target install
        env:
          CC: gcc-10
          CXX: g++-10

      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DSANITIZER="Address;Undefined"
        env:
          CC: ${{ matrix.config.cc }}
          CXX: ${{ matrix.config.cxx }}

      - name: Build
        run: cmake --build build --config RelWithDebInfo -j$(nproc)

      - name: Test
        run: cd build ; ctest -C RelWithDebInfo -j$(nproc) --output-on-failure
        env:
          ASAN_OPTIONS: detect_stack_use_after_return=1
          UBSAN_OPTIONS: print_stacktrace=1

  ubuntu-thread:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Install
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/ppa
          sudo apt update
          sudo apt install g++-10
          wget -q https://github.com/llvm/llvm-project/archive/llvmorg-10.0.1.zip
          unzip -q llvmorg-10.0.1.zip
          cd llvm-project-llvmorg-10.0.1
          cmake -S llvm -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DLLVM_ENABLE_PROJECTS="libcxx;libcxxabi" \
          -DLLVM_USE_SANITIZER=Thread
          cmake --build build --config RelWithDebInfo -j$(nproc) --target cxx cxxabi
          sudo cmake --build build --config RelWithDebInfo --target install-cxx install-cxxabi
          cd ..
          wget -q https://github.com/google/googletest/archive/release-1.10.0.zip
          unzip -q release-1.10.0.zip
          cd googletest-release-1.10.0
          cmake -S . -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DBUILD_GMOCK=OFF \
          -DBUILD_SHARED_LIBS=ON -Dgtest_build_tests=OFF \
          -DCMAKE_C_FLAGS="-fsanitize=thread -stdlib=libc++" \
          -DCMAKE_CXX_FLAGS="-fsanitize=thread -stdlib=libc++"
          cmake --build build --config RelWithDebInfo -j$(nproc)
          sudo cmake --build build --config RelWithDebInfo --target install
        env:
          CC: clang-10
          CXX: clang++-10

      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DSANITIZER=Thread -DCMAKE_CXX_FLAGS="-stdlib=libc++"
        env:
          CC: clang-10
          CXX: clang++-10

      - name: Build
        run: cmake --build build --config RelWithDebInfo -j$(nproc)

      - name: Test
        run: cd build ; ctest -C RelWithDebInfo -j$(nproc) --output-on-failure

  ubuntu-memory:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Install
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/ppa
          sudo apt update
          sudo apt install g++-10 llvm
          wget -q https://github.com/llvm/llvm-project/archive/llvmorg-10.0.1.zip
          unzip -q llvmorg-10.0.1.zip
          cd llvm-project-llvmorg-10.0.1
          cmake -S llvm -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DLLVM_ENABLE_PROJECTS="libcxx;libcxxabi" \
          -DLLVM_USE_SANITIZER=MemoryWithOrigins
          cmake --build build --config RelWithDebInfo -j$(nproc) --target cxx cxxabi
          sudo cmake --build build --config RelWithDebInfo --target install-cxx install-cxxabi
          cd ..
          wget -q https://github.com/google/googletest/archive/release-1.10.0.zip
          unzip -q release-1.10.0.zip
          cd googletest-release-1.10.0
          cmake -S . -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DBUILD_GMOCK=OFF \
          -DBUILD_SHARED_LIBS=ON -Dgtest_build_tests=OFF \
          -DCMAKE_C_FLAGS="-fsanitize=memory -fsanitize-memory-track-origins -fno-omit-frame-pointer -fno-optimize-sibling-calls -stdlib=libc++" \
          -DCMAKE_CXX_FLAGS="-fsanitize=memory -fsanitize-memory-track-origins -fno-omit-frame-pointer -fno-optimize-sibling-calls -stdlib=libc++"
          cmake --build build --config RelWithDebInfo -j$(nproc)
          sudo cmake --build build --config RelWithDebInfo --target install
        env:
          CC: clang-10
          CXX: clang++-10

      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DSANITIZER=Memory -DCMAKE_CXX_FLAGS="-stdlib=libc++"
        env:
          CC: clang-10
          CXX: clang++-10

      - name: Build
        run: cmake --build build --config RelWithDebInfo -j$(nproc)

      - name: Test
        run: cd build ; ctest -C RelWithDebInfo -j$(nproc) --output-on-failure

  macos-address-undefined:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install
        run: |
          ln -s "$(brew --prefix llvm)/bin/llvm-symbolizer" "/usr/local/bin/llvm-symbolizer"
          wget -q https://github.com/google/googletest/archive/release-1.10.0.zip
          unzip -q release-1.10.0.zip
          cd googletest-release-1.10.0
          cmake -S . -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DBUILD_GMOCK=OFF \
          -DBUILD_SHARED_LIBS=ON -Dgtest_build_tests=OFF
          cmake --build build --config RelWithDebInfo -j`sysctl -n hw.ncpu`
          sudo cmake --build build --config RelWithDebInfo --target install

      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DSANITIZER="Address;Undefined"

      - name: Build
        run: cmake --build build --config RelWithDebInfo -j`sysctl -n hw.ncpu`
        env:
          C_INCLUDE_PATH: /usr/local/include
          CPLUS_INCLUDE_PATH: /usr/local/include

      - name: Test
        run: cd build ; ctest -C RelWithDebInfo -j`sysctl -n hw.ncpu` --output-on-failure
        env:
          # TODO AppleClang does not support LeakSanitizer
          # ASAN_OPTIONS: detect_leaks=1
          ASAN_OPTIONS: detect_stack_use_after_return=1
          UBSAN_OPTIONS: print_stacktrace=1

  # TODO check
  macos-thread:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install
        run: |
          wget -q https://github.com/llvm/llvm-project/archive/llvmorg-10.0.1.zip
          unzip -q llvmorg-10.0.1.zip
          cd llvm-project-llvmorg-10.0.1
          cmake -S llvm -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DLLVM_ENABLE_PROJECTS="libcxx;libcxxabi" \
          -DLLVM_USE_SANITIZER=Thread
          cmake --build build --config RelWithDebInfo -j`sysctl -n hw.ncpu` --target cxx cxxabi
          sudo cmake --build build --config RelWithDebInfo --target install-cxx install-cxxabi
          cd ..
          wget -q https://github.com/google/googletest/archive/release-1.10.0.zip
          unzip -q release-1.10.0.zip
          cd googletest-release-1.10.0
          cmake -S . -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DBUILD_GMOCK=OFF \
          -DBUILD_SHARED_LIBS=ON -Dgtest_build_tests=OFF \
          -DCMAKE_C_FLAGS="-fsanitize=thread -stdlib=libc++" \
          -DCMAKE_CXX_FLAGS="-fsanitize=thread -stdlib=libc++"
          cmake --build build --config RelWithDebInfo -j`sysctl -n hw.ncpu`
          sudo cmake --build build --config RelWithDebInfo --target install
        env:
          C_INCLUDE_PATH: /usr/local/include
          CPLUS_INCLUDE_PATH: /usr/local/include

      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DSANITIZER=Thread -DCMAKE_CXX_FLAGS="-stdlib=libc++"

      - name: Build
        run: cmake --build build --config RelWithDebInfo -j`sysctl -n hw.ncpu`
        env:
          C_INCLUDE_PATH: /usr/local/include
          CPLUS_INCLUDE_PATH: /usr/local/include

      - name: Test
        run: cd build ; ctest -C RelWithDebInfo -j`sysctl -n hw.ncpu` --output-on-failure
